body {
    font-family: "Tahoma", sans-serif;
  }
  
  /* SIDENAV PROPERTIES */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .sidenav-tab {
    padding-left: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 30px;
    text-decoration: none;
    font-size: 18px;
    color: #000000;
    display: block;
  }

  #name {
    font-size: 32px;
    padding-bottom: 10%;
  }

  .majors {
    color: #1c5c00;
  }
  
  .sidenav a:hover {
    color: #696969;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  /* MAIN OVERVIEW */
  .main {
    margin-left: 250px; /* Same as the width of the sidenav */
    margin-right: 3%;
    font-size: 16px; /* Increased text to enable scrolling */
    padding: 10px 10px;
    padding-bottom: 150px;
  }

  .main a {
    color: black;
    text-decoration: none;
  }

  .main a:hover {
    color: #6aabff;
  }

  #Home {
    padding-bottom: 0px;
  }

 
  .about {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    padding-right: 10px;
  }

  .about-text {
    flex: 1;
  }

  .about-photo {
    flex: 0 0 340px; /* photo column width */
  }

  .about-photo img {
    width: 80%;
    height: auto;
    max-width: 340px;
    object-fit: cover;
    display: block;
  }

  @media (max-width: 768px) {
    .about { flex-direction: column; text-align: center; }
    .about-text { width: 100%; }
    .about-photo img { width: 60%; max-width: 320px; }
    .about-text ol { margin-left: 1rem; text-align: left; display: inline-block; }
  }

  /* PHOTO  */
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    row-gap: 5%;
  }

  .grid-item {
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    text-align: center;
  }

  .Exit {
    text-align: right;
  }

  .grid-item img { 
    object-fit: cover;
  }

  /* Responsive Layout for Photos */
  .row {
    /* display: -ms-flexbox; IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    /* gap: 5%; */
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 30%;   
    -ms-flex: wrap; /* IE10 */
    align-items: flex-start;
    /* justify-content: center; */
  }
  
  .column img {
    vertical-align: middle;
    width: 90%;
    padding: 5%;
  }

  .photo-blurb {
    width: 66%;
  }
  
  .instagram-media {
    width: 30%;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  VIDEO
  .two-col .grid-container {
    grid-template-columns: 2fr 1fr;
    margin-right: 7%;
    align-items: start;
  }
  .grid-item {
    text-align: left;
  }